<footer class="page-footer teal lighten-2 z-depth-2">
        <div class="container">
            <div class="row">
            	<div class="col l3 m6 s12">
	                <h5 class="white-text">Get Startbox...</h5>
	                <p class="grey-text text-lighten-4">Bacon ipsum dolor amet cow ullamco flank, kielbasa aliqua officia magna short loin veniam t-bone nisi fatback frankfurter. Landjaeger meatball ea t-bone fatback pork belly jerky alcatra aute veniam quis brisket tail. Ham hock ea tempor, in ullamco beef ribs consectetur veniam dolor ex.</p>
             	</div>
                <div class="col l3 m12 s12">
                    <h5 class="white-text">Hot Projects...</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-4" href="#!">Project Title</a></li>
                      <li><a class="grey-text text-lighten-4" href="#!">Project Title</a></li>
                      <li><a class="grey-text text-lighten-4" href="#!">Project Title</a></li>
                      <li><a class="grey-text text-lighten-4" href="#!">Project Title</a></li>
                    </ul>
                </div>
            	<div class="col l3 m12 s12">
	                <h5 class="white-text">Get Social...</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-4" href="#!">Pinterest</a></li>
                      <li><a class="grey-text text-lighten-4" href="#!">Facebook</a></li>
	                  <li><a class="grey-text text-lighten-4" href="#!">Google Plus</a></li>
	                  <li><a class="grey-text text-lighten-4" href="#!">Twitter</a></li>
	                </ul>
            	</div>
                <div class="col l3 m12 s12">
                    <h5 class="white-text">Connect with Us!</h5>
                    <ul>
                      <li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">On-Site Chat</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Send Email</a></li>
                      <li><a class="grey-text text-lighten-3" href="#!">Send Snail Mail!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    	<div class="footer-copyright">
            <div class="container">
	            © 2015 Copyright NicheEd Group, LLC.
	            <%= link_to "Privacy Statement   ", pages_privacy_path, :class => "grey-text text-lighten-4 right" %>
            </div>
     	</div>
    </footer>