<footer class="page-footer brown lighten-4">
        <div class="container">
            <div class="row">
            	<div class="col l6 s12">
	                <h5 class="white-text">Phoenix</h5>
	                <p class="grey-text text-lighten-4">Bacon ipsum dolor amet cow ullamco flank, kielbasa aliqua officia magna short loin veniam t-bone nisi fatback frankfurter. Landjaeger meatball ea t-bone fatback pork belly jerky alcatra aute veniam quis brisket tail. Ham hock ea tempor, in ullamco beef ribs consectetur veniam dolor ex.</p>
             	</div>
            	<div class="col l4 offset-l2 s12">
	                <h5 class="white-text">Let's Get Social!</h5>
	                <ul>
	                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Google Plus</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
	                  <li><a class="grey-text text-lighten-3" href="#!">Pinterest</a></li>
	                </ul>
            	</div>
            </div>
        </div>
    	<div class="footer-copyright">
            <div class="container">
	            © 2015 Copyright NicheEd Group, LLC.
	            <%= link_to "About Us", pages_about_path, :class => "grey-text text-lighten-4 right" %>
            </div>
     	</div>
    </footer>