<% content_for :head do %>
	<title>Startbox Copyright Policy</title>
	<meta name="description" content="" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@getstartbox"> 
    <meta name="twitter:creator" content="@getstartbox">
    <meta name="twitter:title" content="Startbox Terms of Use"> 
    <meta name="twitter:description" content="">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="Startbox" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="Startbox Terms of Use" />        
    <meta property="og:description" content="" /> 
    <meta property="og:image" content="" />
<% end %>

<br />
<h5>Copyright Policy</h5>
<hr>
<div class="row">
    <div class="col l12 m12 s12">
        
        <div class="card z-depth 2">
            <div class="card-content">
			<span class="card-title grey-text text-darken-4">1. Notice and Procedure for Making Claims of Copyright or Other Intellectual Property Infringements.</span>

			<p>NicheEd, LLC. respects the intellectual property of others and takes the protection of copyrights and all other intellectual property very seriously, and we ask our instructors, students and other users of our website and services (the “Site”) to do the same. Infringing activity will not be tolerated on or through the Site.</p>
			<br />		
			<p>Startbox / NicheEd, LLC’s intellectual property policy is to (a) remove material that Startbox / NicheEd, LLC believes in good faith, upon notice from an intellectual property owner or their agent, is infringing the intellectual property of a third party by being made available through the Site, and (b) remove any Submitted Content posted to the Site by "repeat infringers." Startbox / NicheEd, LLC considers a "repeat infringer" to be any User that has uploaded Submitted Content to the Site and for whom Startbox / NicheEd, LLC has received more than two takedown notices compliant with the provisions of 17 U.S.C. 512(c) with respect to such Submitted Content. Startbox / NicheEd, LLC has discretion, however, to terminate the account of any User after receipt of a single notification of claimed infringement or upon Startbox / NicheEd, LLC’s own determination.</p>
			<br />		

			<span class="card-title grey-text text-darken-4">2. Procedure for Reporting Claimed Infringement.</span>
			<p>If you believe that any content made available on or through the Site has been used or exploited in a manner that infringes an intellectual property right you own or control, then please promptly send a "Notification of Claimed Infringement" containing the following information to the Designated Agent identified below. Your communication must include substantially the following;</p>
			<ul class="collection">
				<li class="collection-item">A physical or electronic signature of a person authorized to act on behalf of the owner of the work(s) that has/have been allegedly infringed;</li>
				<li class="collection-item">Identification of works or materials being infringed, or, if multiple works are covered by a single notification, a representative list of such works;
				<li class="collection-item">Identification of the specific material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or access to which is to be disabled, and information reasonably sufficient to permit Startbox / NicheEd, LLC to locate the material;</li>
				<li class="collection-item">Information reasonably sufficient to permit Startbox / NicheEd, LLC to contact you, such as an address, telephone number, and, if available, an electronic mail address at which you may be contacted;</li>
				<li class="collection-item">A statement that you have a good faith belief that the use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and</li>
				<li class="collection-item">A statement that the information in the notification is accurate, and under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
				<li class="collection-item">You should consult with your own lawyer and/or see 17 U.S.C. 512 to confirm your obligations to provide a valid notice of claimed infringement.</li>
			</ul>
			<br />
			<span class="card-title grey-text text-darken-4">3. Designated Agent Contact Information.</span>
			<p>Startbox / NicheEd, LLC’s Designated Agent for notices of claimed infringement can be contacted at:
			<ul class="collection">
				<li class="collection-item">Via E-mail: copyright@getstarbox.com</li>
				<li class="collection-item">Via U.S. Mail: Startbox/NicheEd, LLC. 1327 Jones Dr Ste 00, Ann Arbor, Mi 48105 Attn: Copyright Department</li>
			</ul>
			</p>
			<br />
			<span class="card-title grey-text text-darken-4">4. Counter Notification.</span>
			<p>If you receive a notification from Startbox / NicheEd, LLC that material made available by you on or through the Site has been the subject of a Notification of Claimed Infringement, then you will have the right to provide Startbox / NicheEd, LLC with what is called a "Counter Notification." To be effective, a Counter Notification must be in writing, provided to Company's Designated Agent through one of the methods identified above, and include substantially the following information:</p>
			<br />
			<ul class="collection">
				<li class="collection-item">A physical or electronic signature of the subscriber;</li>
				<li class="collection-item">
					Identification of the material that has been removed or to which access has been disabled and the location at which the material appeared before it was removed or access to it was disabled;</li>
				<li class="collection-item">
					A statement under penalty of perjury that the subscriber has a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; and</li>
				<li class="collection-item">
					The subscriber's name, address, and telephone number, and a statement that the subscriber consents to the jurisdiction of Federal District Court for the judicial district in which the address is located, or if the subscriber's address is outside of the United States, for any judicial district in which Company may be found, and that the subscriber will accept service of process from the person who provided notification above or an agent of such person.</li>
			</ul>
			<br />
			<p>
			A party submitting a Counter Notification should consult a lawyer or see 17 U.S.C. 512 to confirm the party's obligations to provide a valid counter notification under the Copyright Act.</p>
			<br />
					
			<span class="card-title grey-text text-darken-4">5. False Notifications of Claimed Infringement or Counter Notifications.</span>
			<p>The Copyright Act provides that:</p>
			<br />
			<p>[a]ny person who knowingly materially misrepresents under [Section 512 of the Copyright Act (17 U.S.C. 512)] (1) that material or activity is infringing, or (2) that material or activity was removed or disabled by mistake or misidentification, shall be liable for any damages, including costs and attorneys' fees, incurred by the alleged infringer, by any copyright owner or copyright owner's authorized licensee, or by a service provider, who is injured by such misrepresentation, as the result of [Startbox / NicheEd, LLC] relying upon such misrepresentation in removing or disabling access to the material or activity claimed to be infringing, or in replacing the removed material or ceasing to disable access to it.</p><br />
			<p>
			17 U.S.C. 512(f).
			</p><br />
			<p>
			Startbox / NicheEd, LLC reserves the right to seek damages from any party that submits a notification of claimed infringement or counter notification in violation of the law.</p><br />
			<p>
			For the avoidance of doubt, only notices submitted under the Digital Millennium Copyright Act and the procedures set forth in this section should be sent to the Designated Agent at copyright@getstarbox.com or to the postal address identified above. Any other comments, compliments, complaints or suggestions about Startbox / NicheEd, LLC, the operation of the Site or any other matter should be sent to info@getstarbox.com.
			</p>

            </div>
        </div>
    </div>
</div>


