<% content_for :head do %>
  <title>Get Startbox... How-To Videos and Kits for Home Projects and Honey Do's</title>

  <!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@getstartbox"> 
    <meta name="twitter:creator" content="@getstartbox">
    <meta name="twitter:title" content="Get Startbox... How-To Videos and Kits for Honey Dos and Home Projects"> 
    <meta name="twitter:description" content="">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="Startbox" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="Get Startbox... How-To Videos and Kits for Honey Dos and Home Projects" />        
    <meta property="og:description" content="" /> 
    <meta property="og:image" content="" />
<% end %>

<!-- Start Index Container -->
<br />
  <section id="intro">
    <div class="intro">
      <div class="container">
        <div class="row">
          <br><br>
          <h1 class="header center white-text">EASY TO FOLLOW VIDEO LESSONS AND KITS FOR HOME PROJECTS</h1>
          <div class="row center">
              <a href="#projects" class="btn-large waves-effect waves-light green lighten-1">Tell Me More</a>
          </div>
        <br><br>
      </div>   
    </div>
  </section>
  <!-- End Index Container -->

  <!-- Project Categories Container -->
  <section id="projects">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="header center teal-text text-lighten-2">Fun, Functional and Fashionable Projects</h2>
            <h4 class="header center col s12 light">We're here to help you have fun with the kids, build awesome things for the home or apartment, and decimate the honey-do's. No matter whether this is your first time picking up a tool or if you're up for creator of the year, we've got you covered.</h4>
        </div>
      </div>
          <div class="row">
            <div class="col s12 m6 l4">
              <div class="card z-depth-2">
                <div class="card-image">
                  <img src="/assets/Startbox_Kids_Crafts.jpg" alt="Startbox - Kids and Crafts"></a>
                </div>
                <div class="card-content">
                  <h4>Kids and Crafts</h4>
                  <p class="text-muted">Let's Get Crafty and Creative! No rainy day will chase the fun away! Gizmos and gadgets, sludge and slime, there's tons of fun to be had and it'll keep everyone occupied for quite some time.</p>
                </div>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="card z-depth-2">
                <div class="card-image">
                  <img src="/assets/Startbox_Home_Projects.jpg" alt="Startbox - Create and Construct For The Apartment or Home"></a>
                </div>
                <div class="card-content" >
                    <h4>Create and Construct</h4>
                    <p class="text-muted">"I built this" is your name and saving money and having fun is your new game. You'll be Building tables, shelves and mirrors... Stools, tools, and more. Just you wait for what we've got in store. </p>
                </div>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="card z-depth-2">
                <div class="card-image">
                  <img src="/assets/Startbox_Honey_Do.jpg" alt="Startbox - Honey Do How-To"></a>
                </div>
                <div class="card-content">
                    <h4>Honey Do How-To</h4>
                    <p class="text-muted">Leaky faucets and squeeky doors, Tilted toilets and shifty floors... there's so much to do, you feel like a zero. Well, fret no more... there's plenty of epic honey do how-to's that will make you a hero. </p>
                </div>
              </div>
            </div>
          </div>
        </div>

  </section>
  <!-- END Project Catgories Container -->
<!-- Start How It Works Container -->
<section id="how-it-works">
 
  <div class="container grey lighten-3">
    
    <div class="row">
        <br><br>
        <h2 class="header center teal-text text-lighten-2">How Startbox Works</h2>
         <h4 class="header center col s12 light">Whether you're handy or not, we've made it super fun and easy to take any project from start to finish.</h4>
      </div>
    
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-hardware-computer"></i></h2>
            <h5 class="center">Step 1. Select a Project</h5>

            <p class="light">Startbox video lessons and how-to projects cover everything from Pinterest® inspired craft projects to home improvement & honey do's. Click "Get Started!" on any project and you'll be celebrating success in no time!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-av-play-circle-outline"></i></h2>
            <h5 class="center">Step 2. Get Started!</h5>

            <p class="light">Each project comes with a comprehensive list of tools and necessary supplies. Once you're ready to go, each project how-to video is broken down into short, easy to understand video segments that you can watch as many times as you want!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-editor-insert-emoticon"></i></h2>
            <h5 class="center">Step 3. Smile, You Did It!</h5>

            <p class="light">There's nothing more fulfilling than doing something you've never done before. Startbox will help you Get Started and our easy to follow projects and video tasks make sure you finish with a smile everytime!</p>
          </div>
        </div>
      </div>
       <div class="row center">
              <a href="#projects" class="btn-large waves-effect waves-light green lighten-1">Let's <i>Get Started</i></a>
          </div>
    </div>
    </div>
  </div>
</section>
<!-- END How It Works Container -->

<section id="projects">
<br />
<div class="card z-depth-2">
	<div class="card-content">
		<h2 class="header center teal-text text-lighten-2">Find a Project, it's time to <i>Get Started</i>...</h2>
  <hr>
  </div>
</div>
	
	<div class="row center">
              <a href="#projects" class="btn-large waves-effect waves-light green lighten-1">View All Projects</i></a>
          </div>
    </div>
</section>