<% content_for :head do %>
	<title>Find a Project, it's time to Get Started with Startbox</title>
	<meta name="description" content="WHETHER YOU'RE HANDY OR NOT, WE'VE MADE IT SUPER FUN AND EASY TO TAKE ANY PROJECT FROM START TO FINISH" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@getstartbox"> 
    <meta name="twitter:creator" content="@getstartbox">
    <meta name="twitter:title" content="Find a Project, it's time to Get Started with Startbox"> 
    <meta name="twitter:description" content="">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="Startbox" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="Find a Project, it's time to Get Started with Startbox" />        
    <meta property="og:description" content="" /> 
    <meta property="og:image" content="" />
<% end %>

<br />
<h5>Find a Project, it's time to <i>Get Started</i></h5>
<hr>
<div class="row" data-no-turbolink>

	<% @projects.each do |project| %>
		<%= link_to project do %>
			<div class="col s12 m6 l4">
				<div class="card z-depth-2">

					<div class="card-image">
						<%= image_tag project.image %>
					</div>
						
					<div class="card-content" style="height: 8em">
						<p class="flow-text grey-text text-darken-4"><%= project.name %></p>
						
					</div>	
					
				</div>
			</div>	
		<% end %>
	<% end %>
</div>