@import "materialize";
@import "toastr";


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .container {
    width: 95%;
  }

  .avatar-small {
    width: 50px;
  }

  .avatar-medium {
    width: 80px;
  }

  .mask {
    z-index: 99;
  }

 .parallax-container {
    height: "1000";
    padding-top: 100px;
    background-size: cover;
  }

  .intro {
    background: url('/assets/startbox_tools.jpg') no-repeat center center;
    height: 500px
    
  }

  .card {
    position: relative;
    overflow: hidden;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
  }