@import "materialize";
@import "toastr";


body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .jumbotron {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: rgba(0,0,0,0);
  background-image: url(../assets/images/Startbox_Tools.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  }

   .parallax-container {
      height: "800";
    }